/*Colors: #30A9DE
          #E53A40
          #EFDC05
          #090707*/

body 
{
  display: flex;
  align-items: center;
  flex-direction: column;
  background:#56baed;
  font-family: "Poppins", sans-serif;
  text-underline-offset: auto ;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
 
    height: 100vh;

  
}
header 
{
  background-color:   #fff;
  color: #56baed;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 400%;
}


.space 
{
  text-align: center;
  text-transform: uppercase;
  height: 100px;
  font-family: "Poppins", sans-serif;
}



.container {
  display: flex;
  width: 700px;
  height: 50vh;
  border: 17px solid whitesmoke;
  margin-top: 10px;
}

footer {
  width: 100%;
  margin: 20px;
  text-align: right;
}

footer > a {
  padding: 10px 20px 10px 20px;

  text-decoration: none;
  background: #fff;
  transition: all 150ms ease;
  display: inline-block;
  text-emphasis-color:#56baed;
}




#reset:active {
  transform: translate(0, 2px);
  /*background: #30A9DE;*/
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: auto;
  margin: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  overflow-wrap: break-word;
}

.col+.col {
  border-left: 20px dashed #6e6c6c;
}

.ring {
  height: 1.5rem;
  background: #6e6c6c;
  /*Easing from http://easings.net/*/
  transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bounce {
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-duration: 800ms;
  animation-delay: 300ms;
}

@keyframes bounce {
  0%, 90%    {transform: translate(0, -1rem)}
  90%, 100%  {transform: translate(0, 0)}
}

/*.level-select {
  color: white;
  margin: auto -20rem  auto -20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 100ms ease;
  font-size: 1.5rem;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none; 

}

.level-select-box {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}*/

.arrow:hover {
  color: #6e6c6c;
}

.level {
  color: white;
  font-size: 4rem;
  padding: .5rem;
}



.gameOver {
  color: white;
  margin: auto -20rem  auto -20rem ;
  padding: 0;
  font-size: .9rem;
  z-index: 100;
  text-align: center;
}

.report {
  margin-top: 0;
}

.big {
  font-size: 4rem;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}



@keyframes blink {
  from {opacity: 0}
  to {opacity: 1}
}

.hover {
  transform: translate(0, -1rem);
}

.active {
  background-color: white;
  transform: translate(0, -1rem);
}

.rumble {
  animation-duration: 250ms;
  animation-name: rumble;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes rumble {
  from {transform: rotate(10deg) translate(0, -1rem);}
  /*60% {transform: rotate(-5deg) translate(0, -1rem);}*/
  to {transform: translate(0, -1rem);}
}
